body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('paella.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay img {
    max-width: 80%; /* Ajusta el ancho de la imagen superpuesta según tus necesidades */
    max-height: 80%; /* Ajusta la altura de la imagen superpuesta según tus necesidades */
    border-radius: 10px; /* Puedes agregar estilos adicionales según tus preferencias */
}

nav {
    background-color: #333;
    padding: 10px;
}

/* Mantén esta parte en tu archivo CSS */
/* Mantén esta parte en tu archivo CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-left,
.nav-right {
    margin: 0;
}

.nav-right {
    margin-left: 10px; /* Ajusta este valor según tus necesidades */
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 10px; /* Ajusta este valor según tus necesidades */
    display: inline-block;
}




/* Estilos para el desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 12px;
}

/* Mantén esta parte en tu archivo CSS */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Puedes ajustar según sea necesario */
}
.image-container img {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.collage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea un diseño de cuadrícula flexible */
    gap: 10px;
  }
  
  .imagen {
    width: 100%; /* Hace que las imágenes ocupen el ancho completo de su contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
  }
  
/* Mantén esta parte en tu archivo CSS */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


